---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  font-size: 14px;
  line-height: 1.5;
}

.page__content p,
.page__content li {
  text-align: justify;
}

.page__content img {
  display: block;
  margin: 1.5rem auto;
  max-width: 100%;
  height: auto;
}

.archive__item-excerpt,
.archive__item-excerpt p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}
